.Landing {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "HalisR-Light";
}

.Landing-header {
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.Landing-head-img {
  top: 0;
  width: 100vw;
  height: auto;
  position: fixed;
  z-index: 0;
}

.Landing-nav {
  width: 100%;
  height: 5rem;
  margin-top: min(88vh, calc(100vw * 2048 / 2890));
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  filter: drop-shadow(0 5px 5px #0f2944);
  z-index: 1;
  text-align: left;
  border-bottom: 2px solid #0f2944;
}

.Landing-nav h3 {
  padding-left: 1rem;
}

.Landing-body {
  width: 100%;
  padding-top: 5%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  z-index: 1;
}

.Landing-container {
  max-width: 961px;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: center;
  z-index: 1;
}

.Landing-section {
  text-align: left;
  margin-bottom: 5%;
  flex-direction: column;
  justify-content: left;
}