.GuideTable {
    display: flex;
    flex-direction: column;
}

.GuideTable-row {
    flex: 1;
    display: flex;
    flex-direction: row;
}

@media(max-width: 1200px) {
    .GuideTable-row {
        flex-direction: column;
    }
    .GuideCard-container:first-child {
        flex: 0.5;
    }
}

.GuideTable-row:last-child .GuideCard {
    margin-bottom: 0rem;
}

.GuideCard {
    flex: 1;
}

.GuideCard:last-child {
	margin-right: 0rem;
}